html {
    scroll-behavior: smooth;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }



  /* GLOBAL STYLES */

  body {
   
    padding-bottom: 3rem;
    color: whitesmoke;
  }


  /* CUSTOMIZE THE CAROUSEL */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
   
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  height: fit-content;
 

  }
  
  .carousel-caption{
      background-color: rgba(0, 0, 0, 0.7 );
      border-radius: 2em;
      padding:0.5em;
      
  } 

  /* Declare heights because of positioning of img element */
  .carousel-item {
  
    background-color: white;
    align-items: center;
   
  }

  .carousel-item img {
   

    
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
      height:auto;
    
  }


  /* MARKETING CONTENT
-------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing h2 {
    font-weight: 400;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


  /* Featurettes
------------------------- */

  .featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.5em;
    line-height: 1.4;
  }


  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
    background-color: #1a202c;
  }

  /*********************** NAVBAR *****************************/
  .container-fluid{
text-align: center;

  }
  nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    min-height: 8vh;
    background-color: #2d3748;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  nav .logo {
    color: #8592a4;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  }

  nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }

  .nav-links li {
    list-style: none;
  }

  .nav-links a {
    color: #8592a4;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 12px;
    
  }

  .nav-links a:hover {
    color: white;

    transform: scale(1.2);
  }

  .navbar{
    background-color: rgba(0, 0, 0, 0.6);
  }


  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden !important;
    }

    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #2d3748;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70% !important;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-links a {
      font-size: 20px;
      padding: 10px 30px;
      text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.6);
    }

    .nav-links li {
      position: relative;
      opacity: 1;
      transform: translateX(100vw);
    }
  }
